.main{

    background-color:rgb(19, 18, 20);
    color: aliceblue;
    height: auto;
    width: 270px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.btn{
    padding: 5px;
    text-align: center;
    height: auto;
    width: 40px;
    background-color: rgb(46, 83, 83);
}